ZULIP_USERNAME=zulip_bot_user_email@gmail.com
ZULIP_PASSWORD=zulip_password
ZULIP_REALM=https://yourrealm.zulipchat.com
ZULIP_NAME=👀👀 Example Bot 👀👀
DEFAULT_STATUS=...
GOOGLE_USERNAME=google_email@gmail.com
GOOGLE_PASSWORD=google_password
GOOGLE_TOTP_SECRET=32_digit_secret_key
CHROMIUM_BIN=/usr/bin/chromium-browser
DISPLAY=:0